<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Welcome to my first Jungle Devs Challenge</h1>
<big><a href="/api/" style="color: inherit;">Go to api routes</a></big>
<br>
<h3>Social Medias:</h3>

<ul>
    <li>
        <a href="https://github.com/brenininho" style="color: inherit;">Github</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/breno-valle/" style="color: inherit;">Linkedin</a>
    </li>
</ul>


<p>By Breno Valle</p>
</body>
</html>